.header {
  height: 56px;
  background-color: var(--mantine-color-body);
  /* border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: text-shadow 0.2s ease, border-bottom 0.2s ease;
  border-bottom: 2px solid transparent;
  position: relative;

  @mixin hover {
    text-shadow: 0 0 15px light-dark(rgba(49, 176, 0, 0.3), rgba(113, 211, 73, 0.3));
  }

  [data-mantine-color-scheme] &[data-active] {
    border-bottom-color: var(--mantine-color-console-4);
    color: var(--mantine-color-console-4);
  }
}

.burger {
  color: var(--mantine-color-console-4);
  transition: opacity 0.2s ease;
}

.burger:hover {
  opacity: 0.7;
}

@media (prefers-reduced-motion: reduce) {
  .link {
    transition: none;
  }
  
  .link:hover {
    text-shadow: none;
  }

  .burger {
    transition: none;
  }
}