# Slack Bot Configuration
SLACK_BOT_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=signing_secret_here
SLACK_BOT_USER_ID=app_user_id_here
SLACK_APP_TOKEN=xapp-1-...
SLACK_SOCKET_MODE=false
ADMIN_OVERRIDE=false

# MongoDB Configuration
MONGODB_USER=username
MONGODB_PASSWORD=password

# Server Ports (each service needs its own port)
SLACK_BOT_PORT=3000
DB_PORT=5000

# API Base URLs
API_URL=https://project-structuring-unstructured-data-wc26.onrender.com

#LLM API Key
GEMINI_API_KEY=
