# Slack Bot Configuration
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_BOT_USER_ID=
SLACK_APP_TOKEN=
SLACK_SOCKET_MODE=

# MongoDB Configuration
MONGODB_USER=
MONGODB_PASSWORD=

# Server Ports (each service needs its own port)
SLACK_BOT_PORT=
DB_PORT=

# API Base URLs
API_URL=

#LLM API Key
GEMINI_API_KEY=
